* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: verdana;
}

@media (min-width: 992px) {
	.desktop {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.tablet {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.mobile {
		width: 100%;
	}
}

body {

	background: floralwhite url(marcelo.png) center right no-repeat ;
	color: navajowhite;
	font-size: 14pt;
	text-shadow: 1.5px 1.5px 0.5px black;
}

h1 {
	background: floralwhite url(marcelo.png) center no-repeat ;
	text-align: center;
	padding: 5px;
	border: 5px;
	margin: 30px 10px 30px 10px;
	font-size: 175%;
}

div {
	border: solid black 5px;
	margin: 10px;
	float: left;
}

p {
	margin-top: 53px;
	padding: 10px 30px 30px 30px;
	text-align: justify;
	overflow: hidden;
}

p.title {
	border-left: solid black 5px;
	border-bottom: solid black 5px;
	width: 33.33%;
	font-size: 125%;
	text-align: center;
	float: right;
	margin: 0;
	padding: 10px;
}

#chicken {
	background: steelblue;
	color: white;
	text-shadow: 2px 2px 5px black;
}

#meat {
	background: orchid;
	color: black;
	text-shadow: 2px 2px 5px ghostwhite;
}

#fish {
	background: forestgreen;
	color: white;
	text-shadow: 2px 2px 5px black;
}
