* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Comic Sans 	;
	font-size: 1.5em;
}

@media (min-width: 992px) {
	.desktop {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.tablet {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.mobile {
		width: 100%;
	}
}

body {

	background-color: floralwhite;
	color: purple;
}

h1 {
	text-align: center;
	margin: 30px 10px 30px 10px;
}

h2 {
	border: solid black 5px;
}

div {
	border: solid black 5px;
}

.title {
	border: solid black 5px;

}